.sideBar
  .sideBar__header
    .sideBar__header__box
      %p.sideBar__UserName
        = current_user.name
      .sideBar__box__right
        = link_to "#", class: "sideBar__icon" do
          .far.fa-edit
        = link_to edit_user_path(current_user),class: "sideBar__icon"  do
          .fa.fa-cog
  .sideBar__group
    .sideBar__list__top aguitakuya
    .sideBar__list.botm メッセージ無し
